html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout general */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #eee;
}

/* Header rojo */
.header {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  height: 13vh;
}

.form-receta {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Contenedor principal
 que crece para llenar el espacio restante */
.contenedor-principal {
  overflow-y: scroll;
  display: flex;
  flex: 1; /* Ocupa el espacio restante */
  gap: 15px; /* Espacio entre publicidad y contenido */
  padding: 10px 20px;
  box-sizing: border-box;
  scrollbar-width: 15;
}

/* Publicidad */
.publicidad {
  width: 180px;
  background-color: #00bfff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: bold;
  border-radius: 8px;
}

/* Contenido principal */
.contenido {
  flex-grow: 1;
  background-color: #ffbf00;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  border-radius: 8px;
}



@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
    padding-bottom: 70px; /* deja espacio para la publicidad fija abajo */
  }

  .publicidad.izquierda {
    display: none;
  }

  .publicidad.derecha {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #00bfff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: horizontal-tb;
    text-orientation: initial;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 0;
    z-index: 1000;
  }

  .contenido {
    order: 2;
    justify-content: center;
  }
}

